# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.frontend.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Source\Entelect\Udemy\Docker and Kubernetes - The Complete Guide\flow\frontend\.idea\.idea.frontend.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
